//==top arrow ==

.top_arrow img {
    width: 80px;
    opacity: 0.5;
    position: fixed;
    top: 85vh;
    z-index: 1000;
    right: 10px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}